.nav{
    color:var(--navTextColor);
    height: 90px;
    width: 100%;
    background-color: var(--navBackground);
    position: fixed;
    display: grid;
    place-items: center;
    box-shadow: var(--boxShadowNav);
}

.mobileNav{
    display: none;
}


.nav > ul  {
    width: 95%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

.nav > ul > li {
    font-size: 20px;
    font-weight: 600;
}

.nav > ul > li.navlist{}
.nav > ul > li.hamberger{
    display: none;
}
.nav > ul > li.navlist > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap:80px; 
}
.nav > ul > li.navlist > ul > li {}
.nav > ul > li.light_dark{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.light_dark > .text {
    font-size: 12px;
    font-weight: 100;
    /* color: rgb(105, 105, 105); */

}

.l_p{
    height: auto;
    width: 40px;
    background-color: var(--toggle_dark_light_mode_P_background);
    padding: 1px;
    border-radius: 1000px;
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--toggle_dark_light_mode_P_border);
}
.l_p  > .c {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color:var(--toggle_dark_light_mode_C_background);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--navBackground);
    font-size: 15px;
    padding: 2px;
}





/* .l_p  > .c:hover{
  transform: translateX(100%);
} */


@media screen and (max-width:1200px){

    .nav > ul > li.navlist > ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        gap:50px; 
    }


}



@media screen and (max-width:800px){
    .nav{
        /* padding: 0px 20px 0px 20px ; */
    }
    .nav > ul {
        width: 90%;
    }
    .nav > ul > li.navlist{
        display: none;
    }
.nav > ul > li.hamberger{
    display: block;
    font-size:30px;
    color:var(--navTextColor);
  
}

.light_dark {
    
}


.mobileNav{
    display: block;
    position: fixed;
    top: 90px;
    background-color: var(--navBackground);
    width: fit-content;
    padding: 10px;
    box-shadow: var(--navShadow);
}

.mobileNav > ul {
    padding: 0;
     margin: 0 ; 
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 240px;
    justify-content: center;
    align-items: center;
}

.mobileNav > ul > li {
    border-bottom-style: solid;
    border-width: 1px;
    text-align: center;
    border-color:var(--navItemLineColor);
    padding-bottom: 3px;
    width: 90%;
}

}




@media screen and (max-width:500px) {
    .nav{
        height: 70px; 
    }

    .mobileNav{
    display: block;
    position: fixed;
    top: 70px;
    background-color: var(--navBackground);
    width: fit-content;
    padding: 10px;
    box-shadow: var(--navShadow);
}


.nav > ul > li.hamberger{
    display: block;
    font-size:23px;
    color:var(--navTextColor);
}
}
