


.skills {
    background-color: var(--navBackground); 
    color: var(--navTextColor);
    display: grid;
    place-items: center;
    height: 900px;
}
.skills > ul {
    padding: 0px 10px 100px 10px ;
    margin: 0;
    list-style: none;
    max-width: 900px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.skills > ul > li{
    /* background-color: red; */
}
.skills > ul > li.h1{
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 40px;
}
.skills > ul > li.list{}
.skills > ul > li.list > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:40px;
}
.skills > ul > li.list > ul > li{
    /* background-color: yellow; */
}
.skills > ul > li.list > ul > li.lang_path{}
.skills > ul > li.list > ul > li.lang_path > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
flex-direction: row;
flex-wrap: wrap;
gap:10px;
justify-content: center;
}
.skills > ul > li.list > ul > li.lang_path > ul > li{}
.skills > ul > li.list > ul > li.lang_path > ul > li.skill{
/* background-color: orange; */
background-color: var(--single_skill_background);
display: flex;
align-items: center;
width: fit-content;
gap:8px;
padding: 5px 10px 5px 10px ;
border-radius: 7px;
font-size: 16px;
box-shadow: var(--single_skill_shadow);

}
.skills > ul > li.list > ul > li.lang_path > ul > li.skill > img{
    width: 25px;
}
.skills > ul > li.list > ul > li.lang_path > ul > li.skill > div{}













@media screen and (max-width:800px){

    .skills {
        background-color: var(--navBackground); 
        color: var(--navTextColor);
        display: grid;
        place-items: center;
        height: 900px;
    }
    .skills > ul {
        padding: 0px 10px 100px 10px ;
        margin: 0;
        list-style: none;
        max-width: 900px;
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .skills > ul > li{
        /* background-color: red; */
    }
 
    .skills > ul > li.h1{
        text-align: center;
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 25px;
    }
    .skills > ul > li.list{}
    .skills > ul > li.list > ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap:25px;
    }
    .skills > ul > li.list > ul > li{
        /* background-color: yellow; */
    }
    .skills > ul > li.list > ul > li.lang_path{}
    .skills > ul > li.list > ul > li.lang_path > ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    }
    .skills > ul > li.list > ul > li.lang_path > ul > li{}
    .skills > ul > li.list > ul > li.lang_path > ul > li.skill{
    /* background-color: orange; */
    background-color: var(--single_skill_background);
    display: flex;
    align-items: center;
    width: fit-content;
    gap:8px;
    padding: 5px 10px 5px 10px ;
    border-radius: 7px;
    font-size: 16px;
    box-shadow: var(--single_skill_shadow);
    
    }
    .skills > ul > li.list > ul > li.lang_path > ul > li.skill > img{
        width: 25px;
    }
    .skills > ul > li.list > ul > li.lang_path > ul > li.skill > div{}

}






@media screen and (max-width:450px) {
    .skills {
        background-color: var(--navBackground); 
        color: var(--navTextColor);
        display: grid;
        place-items: center;
        height: auto;
    }
    .skills > ul {
        padding: 120px 10px 100px 10px ;
        margin: 0;
        list-style: none;
        max-width: 900px;
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .skills > ul > li.h1{
        text-align: center;
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 17px;
    }

    .skills > ul > li.list > ul > li.lang_path > ul > li.skill{
        /* background-color: orange; */
        background-color: var(--single_skill_background);
        display: flex;
        align-items: center;
        width: fit-content;
        gap:8px;
        padding: 5px 10px 5px 10px ;
        border-radius: 7px;
        font-size: 11px;
        box-shadow: var(--single_skill_shadow);
        
        }
}