.contact {
    height:var(--bodyHeight);
    background-color: var(--bodyBackground); 
    color: var(--navTextColor);
    
    /* padding-top: 120px; */
    display: grid;
    place-items: center;
}
.contact > ul {
    padding: 0; 
    margin: 0 ; 
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.contact > ul > li {}
.contact > ul > li.h1 {
    display: grid;
    justify-content: center;
    letter-spacing: 3px;

}
.contact > ul > li.h1 > div{
    font-size: 25px ;
    font-weight: 600;
    width: fit-content;
    border-bottom-style:solid;
    border-bottom-width: 2px;
    padding: 0px 0px 1px 0px;
}
.contact > ul > li > ul {
    padding: 0; 
    margin: 0 ; 
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color:var(--contact_background);
    padding: 70px;
    box-shadow: var(--navShadow);
   
}
.contact > ul > li > ul > li {}
.contact > ul > li > ul > li > ul  {
    padding: 0; 
    margin: 0 ; 
    list-style: none;
    display: grid;
    grid-template-columns: 2fr 2fr ;
    gap: 50px;
}
.contact > ul > li >ul > li >  ul > li {
}
.contact > ul > li >ul > li >  ul > li.txt > div {
    width: fit-content;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 2px;

}

/* .contact > ul > li >ul > li >  ul > li.txt > div > img{ */
.contact > ul > li >ul > li >  ul > li.txt > div > .faphone{
   font-size: 16px;
   margin-left: 10px;
}

.contact > ul > li >ul > li >  ul > li > div {}
.contact > ul > li > ul > li > ul > li.ima > img{
    width: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--navTextColor);
    padding-bottom: 2px;
}
.contact > ul > li > ul > li >  ul > li.ima > div{
    display: flex;
    gap: 20px;
    width: fit-content;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--navTextColor);
    padding-bottom: 2px;
}
.contact > ul > li > ul > li >  ul > li.ima > div > img{
    width: 30px;
}
.contact > ul > li > ul > li >  ul > li > ul  {
    padding: 0; 
    margin: 0; 
    list-style: none;
}
.contact > ul > li > ul > li > ul > li > ul > li {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--navTextColor);
    padding-bottom: 2px;
}














@media screen and (max-width:800px) {


    .contact {
        background-color: var(--bodyBackground); 
        color: var(--navTextColor);
        height: var(--bodyHeight);
        padding-top: 0px;
        display: grid;
        place-items: center;
    }
    .contact > ul {
        padding: 0; 
        margin: 0 ; 
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 70px;
    }
    .contact > ul > li {}
    .contact > ul > li.h1 {
        display: grid;
        justify-content: center;
        letter-spacing: 3px;
    
    }
    .contact > ul > li.h1 > div{
        font-size: 25px ;
        font-weight: 600;
        width: fit-content;
        border-bottom-style:solid;
        border-bottom-width: 2px;
        padding: 0px 0px 1px 0px;
    }
    .contact > ul > li > ul {
        padding: 0; 
        margin: 0 ; 
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 50px;
        background-color:var(--contact_background);
    padding: 10px;
    box-shadow: var(--navShadow);
     font-size:20px;
    }
    .contact > ul > li > ul > li {}
    .contact > ul > li > ul > li > ul  {
        padding: 0; 
        margin: 0 ; 
        list-style: none;
        display: grid;
        grid-template-columns: 1.4fr 2fr ;
        gap: 50px;
    }
    .contact > ul > li >ul > li >  ul > li {
    }
    .contact > ul > li >ul > li >  ul > li.txt > div {
        width: fit-content;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-color: var(--navTextColor);
        padding-bottom: 2px;
    
    }
    
    .contact > ul > li >ul > li >  ul > li.txt > div > .faphone{
        font-size: 15px;
        margin-left: 10px;
     }
    
    .contact > ul > li >ul > li >  ul > li > div {}
    .contact > ul > li > ul > li > ul > li.ima > img{
        width: 30px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        padding-bottom: 2px;
    }
    .contact > ul > li > ul > li >  ul > li.ima > div{
        display: flex;
        gap: 20px;
        width: fit-content;
        border-bottom-style: solid;
        border-color: var(--navTextColor);
        border-bottom-width: 1px;
        padding-bottom: 2px;
    }
    .contact > ul > li > ul > li >  ul > li.ima > div > img{
        width: 30px;
    }
    .contact > ul > li > ul > li >  ul > li > ul  {
        padding: 0; 
        margin: 0; 
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .contact > ul > li > ul > li > ul > li > ul > li {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-color: var(--navTextColor);
        padding-bottom: 2px;
    }
    
}











@media screen and (max-width:500px) {
    .contact > ul > li > ul {
        padding: 0; 
        margin: 0 ; 
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 50px;
        background-color:var(--contact_background);
    padding: 10px;
    box-shadow: var(--navShadow);
     font-size:15px;
    }


    .contact > ul > li >ul > li >  ul > li.txt > div > .faphone{
        font-size: 13px;
        margin-left: 10px;
     }

}